//**** PACKAGES ****//
// MORE INFO: https://wynand.academy/snippets

//**** SETTINGS ****//

:root {
	//Colors
	--grey:				rgb(33 33 33);
	--grey-transparent:	rgb(33 33 33 / 80%);
	--spot: 			#68EBBC;

	//Animation
	--animation-speed:	0.4s;
}

.packages {
	display: flex;
	gap: 2%;

	position: relative;

	width: 100%;
	max-width: 900px;

	@for $i from 0 through 10 {

		&:has(:nth-child(#{$i}):hover) {

			& > * {

				&:nth-child(#{$i}) {
					z-index: 2;
					scale: 1.1;
				}

				&:not(:nth-child(#{$i})) {
					scale: 0.9;
					opacity: 0.9;
					z-index: 1;
				}

				@for $s from 0 through ($i - 1) {

					&:nth-child(#{$s}) {
						transform: perspective(600px) rotateY(25deg);
						transform-origin: right;
					}
				}

				@for $s from ($i + 1) through 10 {

					&:nth-child(#{$s}) {
						transform: perspective(600px) rotateY(-25deg);			
						transform-origin: left;					
					}
				}

			}
		}
	}

}

.package {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 25vh;

	background: linear-gradient(344.37deg, rgba(33, 33, 33, 0.9) 10.31%, rgba(33, 33, 33, 0.4) 184.89%);
	background: var(--grey);

	border-radius: 20px;

	transition: all var(--animation-speed);

	font-size: 12px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;

	@media only screen and (min-width: 960px) {
		font-size: 16px;
		height: 50vh;
	}
}

//**** BASE STYLING ****//

//Load Google Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
	margin: 0;
	padding: 0;
	min-height: 100%;

	font-family: 'Poppins', sans-serif;

	background: var(--spot);
	text-rendering: geometricprecision;
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.example-button-styling {
	width: 100%;

	padding: 15px 20px;
	margin: 5px;

	box-sizing: border-box;
	outline: 0;
	border: 0;
	box-shadow: 0 0 0;

	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	color: var(--spot);
	background: none;
	cursor: pointer;

	@media only screen and (min-width: 780px) {
		width: auto;

		margin: 20px;

		font-size: 24px;
	}

	&:hover {
		color: var(--grey);
	}
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	width: 100vw;
	height: 100vh;

	padding: 20px;

	box-sizing: border-box;

	overflow: hidden;

	@media only screen and (min-width: 900px) {
		padding: 40px;
	}
}